@model PaginatedList<ClimbingCragWebsite.Models.Crag>

@{
    ViewData["Title"] = "Crags";
}

<div class="Main-Content-Cms-index">

    <form asp-action="Index" method="get">
        <div class="Page-Header">
            <div>
                <ul>
                    <li><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Sort By Name</a></li>
                    <li><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Sort By Date Added</a></li>
                    <li><a asp-action="Index">Back to Full List</a></li>
                </ul>
                <input class="input-text" type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            </div>
            <div style="display: flex; flex-flow: row wrap">
                <button class="button" style="max-width: 15rem;" type="submit" value="search">Search</button>
                @if (User.IsInRole("Admin"))
                {
                    <a class="button" style="max-width: 15rem;" asp-action="NewCrag">Create New Crag</a>
                }
            </div>
        </div>
    </form>
    <div class="card-holder">
        @foreach (var item in Model)
        {
            <div class="Crag-Cards">
                <img class="card-img" src="~/Images/@item.Image.ImageUrl" alt="@item.Image.ImageDescription" />
                <div class="card-body">
                    <div class="card-title">@item.CragName</div>
                    <div class="overline"><b>@item.Country,<br>@item.Region,<br>@item.County</b></div>
                </div>
                <div class="card-footer">
                    <a class="button" asp-controller="Crags" asp-action="CragDetails" asp-route-id="@item.CragId">View Crag</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="button" asp-controller="Crags" asp-action="ModifyCrag" asp-route-id="@item.CragId">Modify Crag</a>
                    }
                </div>
            </div>
         }
    </div>
    <div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        @if (prevDisabled != "disabled") {
        <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex - 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="button" style="max-width: 10rem;">Previous</a>
        }
        @if (nextDisabled != "disabled") {
        <a asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex + 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="button" style="max-width: 10rem;"> Next</a>
        }
    </div>
</div>